*,
*::after,
*::before {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
html {
  background-color: whitesmoke;
}
.heading {
  width: 100%;
  margin-top:8px;
  text-align: center;
  padding: 16px 8px 0 8px;
  font-family: "Dancing script";
  font-size:22px;
}
.heading2 {
  padding-top:16px;
}

.clicker {
  background: transparent;
  border:none;
  font-family: "Dancing script";
  font-size:22px;
}
.clicker:hover {
  cursor: pointer;
}
.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 320px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img {
  height: 650px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width:350px;
  height:400px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.book {
  padding:16px;
  width:100%;
  height:80%;
  border-radius: 8px;
  object-fit: cover;
  transition: 0.5s;
}

.book:hover {
  cursor:pointer;
  height:85%;
  transition: 0.6s;
}
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top:120px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-back {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  display:flex;
  align-items: center;
  text-align: center;
  padding:12px 10px 12px 10px;
  font-size:16px;
  line-height: 1.3;
  border-radius: 8px;
}
.recenzija {
  display:flex;
  flex-direction: column;
  width: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.recenzija-heading {
  text-align: center;
  padding:12px;
  font-size:24px;
}
.left-right {
  display:flex;
  flex-wrap:wrap;
  text-align: center;
  align-items: center;
  width:100%;
  padding:18px;
}
.left-right > * {
  width: 50%;
  justify-content: center;
  padding: 16px;
}
.recenzija-tekst  {
  line-height: 1.8;
  font-size: 22px;
  margin-left:28px;
}
.Franka {
  flex:1;
  font-size: 26px;

}
.pjesme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.pjesme > * {
  padding: 16px;
}
.pjesma h1 {
  padding: 16px 0 16px 0;
}
.to-upper {
  text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
  .flip-card {
    position:relative;
    top:-120px;
    width:300px;
    height:350px;
  }
  .book {
    height:70%;
  }
  .recenzija-heading {
    font-size: 20px;
  }
  .recenzija-tekst {
    width: 100%;
  }
  .Franka {
    font-size: 20px;
  }
  .flip-card-back {
    font-size: 14px;
  }
}
